*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg,#3b69ffd8,#ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 4px;
    box-shadow: 0px 8px 10px  rgba(0,0,0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgb(17, 2, 32);
    border-radius: 9px;
    letter-spacing: 5px;
}

.relogio div:hover{
    transition: transform 1s;
    transform: scale(1.2);
    color: white;
    background:linear-gradient(120deg,#3b69ffd8,#ff2525da);
}

.relogio span{
    font-weight: bolder;
    text-shadow: 1px 1px 19px blue ;
    font-size: 60px;
}

.relogio span:hover{
    text-shadow: 1px 1px 19px black;
}

.relogio span.tempo{
    font-size: 12px;
    text-shadow: 1px 1px 19px blueviolet;
}

.relogio span.tempo:hover{
    text-shadow: 1px 1px 19px rgb(4, 0, 7);
}





